<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>青少年法律知识试题</title>
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=GB18030">
<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>
<body>
<table>
<tr>
<td>
1、未成年人因不满（    ）周岁不予刑事处罚的，责令他的父母或者监护人严加管教；在必要的时候，也可以由政府依法收容教养。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t1"/>16
<input type="radio" value="b" name="t1"/>14
<input type="radio" value="c" name="t1"/>18
<input type="radio" value="d" name="t1"/>12
</td>
</tr>
<tr>
<td>
2、已满十四周岁不满十六周岁的未成年人，犯下列哪项罪行不需要负刑事责任？（   ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t2"/>盗窃
<input type="radio" value="b" name="t2"/>放火
<input type="radio" value="c" name="t2"/>爆炸
<input type="radio" value="d" name="t2"/>抢劫

</td>
</tr>
<tr>
<td>
3、已满（    ）周岁的人犯罪，应当负刑事责任。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t3"/>14 
<input type="radio" value="b" name="t3"/>16 
<input type="radio" value="c" name="t3"/>18
<input type="radio" value="d" name="t3"/>12

</td>
</tr>
<tr>
<td>
4、已满十四周岁不满十六周岁的人，犯下列哪种罪行，应当负刑事责任。（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t4"/>盗窃
<input type="radio" value="b" name="t4/">故意杀人
<input type="radio" value="c" name="t4"/>诈骗 
<input type="radio" value="d" name="t4"/>交通肇事

</td>
</tr>
<tr>
<td>
5、因不满十六周岁不予刑事处罚的，责令他的家长或者监护人加以管教；在必要的时候，也可以由政府（     ）。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t5"/>劳动教养
<input type="radio" value="b" name="t5"/>判刑 
<input type="radio" value="c" name="t5"/>收容教养
<input type="radio" value="d" name="t5"/>送专门学校

</td>
</tr>
<tr>
<td>
6、犯罪的时候不满18周岁的人不适用（    ）。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t6"/>无期徒刑
<input type="radio" value="b" name="t6"/>死刑
<input type="radio" value="c" name="t6"/>缓刑 
<input type="radio" value="d" name="t6"/>拘役

</td>
</tr>
<tr>
<td>
7、根据未成年人保护法的规定，引诱、教唆、强迫未成年人吸食、注射毒品或者卖淫的，应依法（    ）。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t7"/>处罚
<input type="radio" value="b" name="t7"/>从重处罚
<input type="radio" value="c" name="t7"/>加重处罚
<input type="radio" value="d" name="t7"/>减轻处罚
</td>
</tr>
<tr>
<td>

8、何某今年15岁，是一名令老师、家长头痛的“问题学生”。去年4月，正在读初二的他被学校“勒令休学”，后何某极力要求复学，但学校一直没有答复他复学的请求。依据未成年人保护法：下列选项正确的是（    ）。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t8"/>学校“勒令何某休学”的做法并无不妥
<input type="radio" value="b" name="t8"/>学校的做法是违法的，侵犯了学生的受教育权
<input type="radio" value="c" name="t8"/>学校的做法属于内部管理问题
<input type="radio" value="d" name="t8"/>学校有权对学生进行处理

</td>
</tr>
<tr>
<td>
9、依据法律规定，下列几个未成年人中将承担刑事责任的是（    ）。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t9"/>郭某，今年十三周岁，将学校的实验室点燃，造成巨大的经济损失
<input type="radio" value="b" name="t9"/>梁某，今年十五周岁，将邻居家的一只价值8万美元的小狗偷走并低价处理了
<input type="radio" value="c" name="t9"/>陈某，今年十七周岁，在集市上偷窃时被发现，逃跑的过程中将追赶之人刺成重伤
<input type="radio" value="d" name="t9"/>李某，今年十六周岁，放学路上发现有人抢劫同学，他将坏人打伤

</td>
</tr>
<tr>
<td>
10、小明今年上初一，三年前父母离婚时双方达成一个协定并经过了公证。协议主要内容是：“小明随父亲生活，母亲以后不再负责小明的生活、教育等费用……”现在父亲下岗，无经济来源，小明起诉其母亲索取教育费可以吗？（    ）
<input type="radio" value="a" name="t10"/>可以起诉
<input type="radio" value="b" name="t10"/>不可以起诉  
<input type="radio" value="c" name="t10"/>先必须让法院对此协定进行定性，否则不可以起诉
<input type="radio" value="d" name="t10"/>要看母亲是否同意给教育性

</td>
</tr>
<tr>
<td>
11、根据刑事诉讼法的规定，未成年犯罪嫌疑人、被告人没有委托辩护人的，人民法院、人民检察院、公安机关应当通知（    ）指派律师为其提供辩护。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t11"/>法律援助机构
<input type="radio" value="b" name="t11"/>法律咨询机构
<input type="radio" value="c" name="t11"/>有偿法律服务机构
<input type="radio" value="d" name="t11"/>实习律师

</td>
</tr>
<tr>
<td>
12、未成年人在以下情况如果提起诉讼，可以申请司法援助的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t12"/>追索抚养费
<input type="radio" value="b" name="t12"/>买卖合同纠纷
<input type="radio" value="c" name="t12"/>房屋租赁纠纷
<input type="radio" value="d" name="t12"/>财产纠纷

</td>
</tr>
<tr>
<td>
13、在司法活动中对需要法律援助或者司法援助的未成年人，（    ）或者人民法院应当予以帮助。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t13"/>律师事务所
<input type="radio" value="b" name="t13"/>公安机关
<input type="radio" value="c" name="t13"/>法律援助机构
<input type="radio" value="d" name="t13"/>检察院

</td>
</tr>
<tr>
<td>
14、下列哪种说法是错误的？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t14"/>正当防卫是我国《刑法》规定的公民抵抗不法侵害时的一项权利
<input type="radio" value="b" name="t14"/>正当防卫行为一律不负法律责任
<input type="radio" value="c" name="t14"/>正当防卫，是指为了使国家、公共利益、本人或者其他人的人身、财产和其他权利免受正在进行的不法侵害，面对不法侵害者实施的制止不法侵害的行为
<input type="radio" value="d" name="t14"/>正当防卫不能超过必要的限度

</td>
</tr>
<tr>
<td>
15、下列选项中错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t15"/>体罚是我国法律明确禁止的违法行为
<input type="radio" value="b" name="t15"/>体罚严重侵害了学生的权益，即使老师出于“恨铁不成钢”或者“重视”的心理对学生体罚，都是违法的
<input type="radio" value="c" name="t15"/>体罚学生是违法行为，但是老师可以变相体罚学生
<input type="radio" value="d" name="t15"/>老师应当尊重未成年人的人格尊严

</td>
</tr>
<tr>
<td>
16、根据预防未成年人犯罪法的规定，下列说法错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t16"/>中小学生旷课的，学校应当即使与其父母或者其他监护人取得联系
<input type="radio" value="b" name="t16"/>未成年人擅自外出夜不归宿的，其父母或者其他监护人、其所在的寄宿制学校应当及时查找，或者向公安机关请求
<input type="radio" value="c" name="t16"/>收留夜不归宿的未成年人的，一般应当征得其父母或者其他监护人的同意
<input type="radio" value="d" name="t16"/>任何组织和个人不得收留夜不归宿的未成年人

</td>
</tr>
<tr>
<td>
17、未成年人发现任何人对自己或者对其他未成年人实施犯罪行为时，下列错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t17"/>可以通过所在学校向公安机关或者政府有关主管部分报告
<input type="radio" value="b" name="t17"/>可以自己向公安机关报告
<input type="radio" value="c" name="t17"/>找朋友教训对方 
<input type="radio" value="d" name="t17"/>受理报告的机关应当及时依法查处

</td>
</tr>
<tr>
<td>
18、下列哪种原因导致的学生伤害事故，学校不应承担法律责任。（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t18"/>没有提供安全的校舍、设施和场所
<input type="radio" value="b" name="t18"/>自然灾害 
<input type="radio" value="c" name="t18"/>组织学生参加活动时因为安全措施不到位导致伤害事故
<input type="radio" value="d" name="t18"/>学校的食堂卫生管理不合格，人员违规操作发生了食物中毒

</td>
</tr>
<tr>
<td>
19、已满十四周岁不满十八周岁的人实施违反治安管理，也是要被处罚的。但是应？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t19"/>从重处罚
<input type="radio" value="b" name="t19"/>直接罚款
<input type="radio" value="c" name="t19"/>免予处罚
<input type="radio" value="d" name="t19"/>从轻或者减轻处罚

</td>
</tr>
<tr>
<td>
20、我国《刑法》规定的刑罚分为主刑和附加刑。主刑是独立适用的刑罚，包括（    ）、拘役、有期徒刑、无期徒刑和死刑。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t20"/>管制
<input type="radio" value="b" name="t20"/>罚金
<input type="radio" value="c" name="t20"/>缓刑
<input type="radio" value="d" name="t20"/>拘留

</td>
</tr>
<tr>
<td>
21、下列哪种情况下发生的学生伤害事故，学校应该承担责任？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t21"/>学生违反法律规定和学校纪律，实施自己知道的危险行为
<input type="radio" value="b" name="t21"/>学生不听学校、老师的劝告个告诫仍然实施有危险的行为
<input type="radio" value="c" name="t21"/>发现学生有疾病或受到伤害没有及时救治，没有及时阻止学生危险行为
<input type="radio" value="d" name="t21"/>自己知道身体有疾病或者是特异体质，但是没有及时告诉学校

</td>
</tr>
<tr>
<td>
22、犯罪的时候不满（    ）周岁的人和审判的时候怀孕的妇女，不适用死刑。
<input type="radio" value="a" name="t22"/>十四
<input type="radio" value="b" name="t22"/>十八
<input type="radio" value="c" name="t22"/>十六
<input type="radio" value="d" name="t22"/>十五

</td>
</tr>
<tr>
<td>
23、在预防学生实习过程中的伤害事故中，下列哪个做法是正确的？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t23"/>学校组织同学们到危险场所实习
<input type="radio" value="b" name="t23"/>每天的实习时间都超过八小时
<input type="radio" value="c" name="t23"/>为学生购买意外伤害保险
<input type="radio" value="d" name="t23"/>没有在实习之前对学生进行安全教育

</td>
</tr>
<tr>
<td>
24、未成年人的下列哪些行为不属于送入专门学校的条件？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t24"/>结伙滋事，扰乱社会治安
<input type="radio" value="b" name="t24"/>携带管制刀具，老师教育后仍然不改正
<input type="radio" value="c" name="t24"/>考试经常不及格
<input type="radio" value="d" name="t24"/>多次赌博或者屡教不改

</td>
</tr>
<tr>
<td>
25、关于共同犯罪，下列说法错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t25"/>二人以上共同故意犯罪是故意犯罪
<input type="radio" value="b" name="t25"/>在共同犯罪中所起的作用不同，受到的处罚也就不同
<input type="radio" value="c" name="t25"/>在盗窃案中，负责为伙伴望风，没有实施偷东西，不需要承担刑事责任
<input type="radio" value="d" name="t25"/>在共同犯罪中起主要作用的是主犯，按照他所指挥或者参与的全部犯罪行为处罚

</td>
</tr>
<tr>
<td>
26、下列哪个选项是错误的？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t26"/>只有直接面对面的口头劝说、利诱等才可以构成教唆行为
<input type="radio" value="b" name="t26"/>自己不实施犯罪，但是通过利诱、请求、劝说、要求帮忙等方式教唆他人实施犯罪行为，仍然构成犯罪
<input type="radio" value="c" name="t26"/>教唆他人实施犯罪行为的是教唆犯。对于教唆他人犯罪的人，也应当按照他在共同犯罪中所起的作用进行处罚
<input type="radio" value="d" name="t26"/>教唆不满十八周岁的人犯罪的，应当从重处罚

</td>
</tr>
<tr>
<td>
27、下列哪个选项是错误的？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t27"/>在实施犯罪的过程中，如果自动放弃犯罪或者自动有效的防止了犯罪行为的发生就是犯罪中止
<input type="radio" value="b" name="t27"/>自动放弃犯罪，是指在有条件能够实施犯罪时自己不想再继续实施了
<input type="radio" value="c" name="t27"/>只要着手实施犯罪，即便中途自动放弃，都要受到同样严重的处罚
<input type="radio" value="d" name="t27"/>对于自动终止犯罪行为的，没有造成损害的应该被免除处罚，如果造成损害的应减轻处罚

</td>
</tr>
<tr>
<td>
28、《中华人民共和国预防未成年人犯罪法》规定，“严重不良行为”是指严重危害社会，尚不够刑事处罚的违法行为。下列哪些行为不属于“严重不良行为”？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t28"/>经常旷课，进入游戏厅
<input type="radio" value="b" name="t28"/>携带管制刀具，屡教不改
<input type="radio" value="c" name="t28"/>多次拦截殴打他人或强行索要他人财物
<input type="radio" value="d" name="t28"/>参与赌博，屡教不改

</td>
</tr>
<tr>
<td>
29、下面的行为中哪像没有妨碍社会秩序？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t29"/>在足球场看比赛大喊大闹，投掷汽水瓶，发泄不满
<input type="radio" value="b" name="t29"/>结帮拉派，经常发生械斗，群殴
<input type="radio" value="c" name="t29"/>经常逃学，在成绩单上模仿家长签字
<input type="radio" value="d" name="t29"/>侵入政府或企业网站，恶意破坏，制造病毒

</td>
</tr>
<tr>
<td>
30、根据未成年人保护法的规定，以未成年人为对象的出版物，不得含有诱发未成年人违法犯罪的内容，不得含有渲染暴力、色情、（    ）、恐怖活动等危害未成年人身心健康 的内容。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t30"/>吸烟
<input type="radio" value="b" name="t30"/>喝酒 
<input type="radio" value="c" name="t30"/>赌博
<input type="radio" value="d" name="t30"/>武打

</td>
</tr>
<tr>
<td>
31、下列说法错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t31"/>抢劫罪是以非法占有他人的财物为目的，通过 暴力、胁迫以及其他被害人不能抗拒的方式，当场强行劫取他人公私财物的行为
<input type="radio" value="b" name="t31"/>抢劫也可以通过暴力、胁迫以外的方式进行，如将被害人用酒灌醉、用麻药麻醉后再拿走他们的财物
<input type="radio" value="c" name="t31"/>抢劫也可以是趁人不备，秘密窃取他人的财物
<input type="radio" value="d" name="t31"/>我们应当增强防范意识，机智灵活的同犯罪分子作斗争

</td>
</tr>
<tr>
<td>
32、如果实施（    ）、在交通工具上抢劫、抢劫银行以及抢劫致人重伤、死亡的还有可能被判处十年以上有期徒刑或者无期徒刑，特别应注意的是，实施抢劫行为，即使没有抢到财物，仍然是构成犯罪。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t32"/>在公共场所抢劫
<input type="radio" value="b" name="t32"/>入户抢劫
<input type="radio" value="c" name="t32"/>携带凶器抢劫
<input type="radio" value="d" name="t32"/>用暴力威胁方法

</td>
</tr>
<tr>
<td>
33、聚众斗殴的，对（    ）和其他积极参加的，处三年以下有期徒刑、拘役或者管制。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t33"/>组织者
<input type="radio" value="b" name="t33"/>策划者
<input type="radio" value="c" name="t33"/>携带凶器
<input type="radio" value="d" name="t33"/>首要分子

</td>
</tr>
<tr>
<td>
34、非法侵入计算机信息系统是指违反国家规定，侵入（    ）、国防建设和尖端科学技术领域的计算机信息系统行为。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t34"/>国家事务
<input type="radio" value="b" name="t34"/>教育建设
<input type="radio" value="c" name="t34"/>公益事务
<input type="radio" value="d" name="t34"/>经济建设

</td>
</tr>
<tr>
<td>
35、网络犯罪不包括？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t35"/>侵害、破坏计算机信息系统
<input type="radio" value="b" name="t35"/>盗用市民上网账号获利 
<input type="radio" value="c" name="t35"/>在网上下载电影
<input type="radio" value="d" name="t35"/>通过网络寻找犯罪目标

</td>
</tr>
<tr>
<td>
36、在被人“邀请”犯罪时，下列哪个选择是错误的？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t36"/>为了显得自己仗义不会拒绝，挺身前往
<input type="radio" value="b" name="t36"/>断然拒绝，然后及时向家长、老师或者公安机关报告
<input type="radio" value="c" name="t36"/>如果情况紧急，确实受到暴力威胁，也可以采取周旋措施，先口头答应，等到能够脱身的机会
<input type="radio" value="d" name="t36"/>有机会报警时赶紧报警

</td>
</tr>
<tr>
<td>
37、遇到被勒索财物的情况，下列选项错误的事（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t37"/>如果对方带着凶器，自己抵抗不了，不要直接顶撞
<input type="radio" value="b" name="t37"/>可以先假装口头答应，接机脱身后，即时告诉家长，并报告公安机关
<input type="radio" value="c" name="t37"/>出钱免灾，求得平安
<input type="radio" value="d" name="t37"/>实施敲诈勒索，轻的要被处以违反治安管理的行政处罚，性质严重或者勒索钱财数额比较大的，还有可能触犯《刑法》规定的敲诈勒索罪，要承担刑事责任

</td>
</tr>
<tr>
<td>
38、关于预防性侵犯，下列选项错误的是？（    ）
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t38"/>要防范利用网友身份实施的性侵害
<input type="radio" value="b" name="t38"/>对于网友的邀请见面和利诱要拒绝
<input type="radio" value="c" name="t38"/>如果有陌生人邀请到歌舞厅等娱乐场所时，应当拒绝
<input type="radio" value="d" name="t38"/>如果是熟人在比较晚的时间邀请外出活动，可以答应

</td>
</tr>
<tr>
<td>
39、工读学校是矫正和教育具有（    ）未成年学生的学校。
</td>
</tr>
<tr>
<td>
<input type="radio" value="a" name="t39"/>犯罪行为
<input type="radio" value="b" name="t39"/>严重不良行为
<input type="radio" value="c" name="t39"/>不良行为
<input type="radio" value="d" name="t39"/>违法行为

</td>
</tr>
</table>
<button id="sbmt" style="width:420px;height:30px">提交</button>
</body>
<script type="text/tiscript">

function gts(name){
	var e="$(#"+name+").value";
	var r=eval(e);
	return r;
}

var ans=["b","a","a","b","c","b","b","b","c","c","a","a","d","b","c","c","c","b","d","d","a","b","d","c","a","a","a","b","c","c","c","d","d","a","c","a","c","d","c"];

function getscore(){
	var s=0;
	for(var i=1;i<40;i++){
		var n="t"+i;
		if(ans[i-1]==gts(n)) s++;
	}
	return s;
}

$(#sbmt).on("click", function() {
	var s1=gts("t1");
	view.msgbox(#information,s1,"分数");
	var s2=gts("t2");
	view.msgbox(#information,s2,"分数");
	var s3=gts("t3");
	view.msgbox(#information,s3,"分数");
	var s4=gts("t4");
	view.msgbox(#information,s4,"分数");
	var socre=getscore();
	view.msgbox(#information,socre,"分数");
});

function rsz(){
	view.move(200,200,1000,800);
}   
</script>
</html>