<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="js/jquery.min3.3.1.js"></script>
		<script type="text/javascript" src="js/js.cookie.min.js"></script>
		<style>
			.item {
				margin: 20px;
			}
		</style>
	</head>

	<body class="bg-info">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a class="navbar-brand" href="index.html">大学帮</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index.html">大学圈子 <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="HelpCircle.html">互帮互助 <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="ChooseJob.html">工作资讯</a>
						</li>
						<li>
							<a href="BlogList.html">博客列表</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a id="btn_nlogin" data-toggle="modal" data-target="#myModal">登录</a>
						</li>

						<li>
							<a id="btn_register" href="register.html">注册</a>
						</li>
						<li id="userinfo" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="username"></span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="UserInfo.html">个人信息</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a id="btn_loginout">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<script>
			var user = Cookies.get('user')
			if(user == null) {
				$('#userinfo').hide()
			} else {
				$('#btn_nlogin').hide()
				$('#username').text(Cookies.getJSON('userinfo').Email)
				$('#btn_register').hide()
			}
			$('#btn_loginout').click(function(){
				Cookies.remove('user')
				Cookies.remove('userinfo')
				window.location.reload()
			})
		</script>
		<div class="container">
			<!--左边内容区-->
			<div class="col-lg-8 col-md-8">
				<div class="jumbotron">
					<h1>Hello, 大学帮!</h1>
					<p>...</p>
					<p>
						<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
					</p>
				</div>

				<div>
					<div class="panel">
						<div class="media">
							<div class="media-body">
								<div class="panel">
									<div class="panel-heading" style="font-family: '微软雅黑'; font-style:initial;font-size: large;">
										先努力，才能变的有底气
									</div>
									<div class="panel-body">
										<p class="text-danger">2018年4月20号 星期五 晴 前段时间，面试结束后，我在简书发了一篇文章。有人祝贺，有人嘲讽，有人劝，有人羡。 读者的评论，都有属于自己的故...</p>
									</div>
									<div class="panel-footer">
										<div class="row" style="margin: 0 auto;">
											<span class="glyphicon glyphicon-user"></span>Master
											<span class="glyphicon glyphicon-heart"></span>123
											<span class="glyphicon glyphicon-apple"></span>128
										</div>
									</div>
								</div>

							</div>
							<div class="media-right media-middle">
								<a href="#">
									<img class="media-object img-circle" style="width: 80px;height: 80px;" src="img/testicon.jpg" alt="...">
								</a>
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="media">
							<div class="media-body">
								<div class="panel">
									<div class="panel-heading" style="font-family: '微软雅黑'; font-style:initial;font-size: large;">
										先努力，才能变的有底气
									</div>
									<div class="panel-body">
										<p>2018年4月20号 星期五 晴 前段时间，面试结束后，我在简书发了一篇文章。有人祝贺，有人嘲讽，有人劝，有人羡。 读者的评论，都有属于自己的故...</p>
									</div>
									<div class="panel-footer">
										<div class="row" style="margin: 0 auto;">
											<span class="glyphicon glyphicon-user"></span>Master
											<span class="glyphicon glyphicon-heart"></span>123
											<span class="glyphicon glyphicon-apple"></span>128
										</div>
									</div>
								</div>

							</div>
							<div class="media-right media-middle">
								<a href="#">
									<img class="media-object img-circle" style="width: 80px;height: 80px;" src="img/testicon.jpg" alt="...">
								</a>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="media">
							<div class="media-body">
								<div class="panel">
									<div class="panel-heading" style="font-family: '微软雅黑'; font-style:initial;font-size: large;">
										先努力，才能变的有底气
									</div>
									<div class="panel-body">
										<p>2018年4月20号 星期五 晴 前段时间，面试结束后，我在简书发了一篇文章。有人祝贺，有人嘲讽，有人劝，有人羡。 读者的评论，都有属于自己的故...</p>
									</div>
									<div class="panel-footer">
										<div class="row" style="margin: 0 auto;">
											<span class="glyphicon glyphicon-user"></span>Master
											<span class="glyphicon glyphicon-heart"></span>123
											<span class="glyphicon glyphicon-apple"></span>128
										</div>
									</div>
								</div>

							</div>
							<div class="media-right media-middle">
								<a href="#">
									<img class="media-object img-circle" style="width: 80px;height: 80px;" src="img/testicon.jpg" alt="...">
								</a>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="media">
							<div class="media-body">
								<div class="panel">
									<div class="panel-heading" style="font-family: '微软雅黑'; font-style:initial;font-size: large;">
										先努力，才能变的有底气
									</div>
									<div class="panel-body">
										<p>2018年4月20号 星期五 晴 前段时间，面试结束后，我在简书发了一篇文章。有人祝贺，有人嘲讽，有人劝，有人羡。 读者的评论，都有属于自己的故...</p>
									</div>
									<div class="panel-footer">
										<div class="row" style="margin: 0 auto;">
											<span class="glyphicon glyphicon-user"></span>Master
											<span class="glyphicon glyphicon-heart"></span>123
											<span class="glyphicon glyphicon-apple"></span>128
										</div>
									</div>
								</div>

							</div>
							<div class="media-right media-middle">
								<a href="#">
									<img class="media-object img-circle" style="width: 80px;height: 80px;" src="img/testicon.jpg" alt="...">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--右边内容区-->
			<div class="col-lg-4 col-md-4 ">

				<!--按钮面板-->
				<div class="panel">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<a href="CreateJob.html"><img src="img/testicon.jpg" class="img-circle" alt="" style="width: 80px;height: 80px;" /></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<a data-toggle="modal" data-target="#helpContent"><img src="img/testicon.jpg" class="img-circle" style="width: 80px;height: 80px;" /></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="img/testicon.jpg" class="img-circle" style="width: 80px;height: 80px;" />
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="img/testicon.jpg" class="img-circle" alt="" style="width: 80px;height: 80px;" />
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="img/testicon.jpg" class="img-circle" style="width: 80px;height: 80px;" />
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<img src="img/testicon.jpg" class="img-circle" style="width: 80px;height: 80px;" />
						</div>
					</div>
				</div>
				<!--求助信息-->
				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="img/testicon.jpg" style="width: 50px;height: 50px" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">会飞的猪</h4>
									<p class="text-info">高数要挂科了，救救我啊啊啊啊！</p>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="img/testicon.jpg" style="width: 50px;height: 50px" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">会飞的猪</h4>
									<p class="text-info">高数要挂科了，救救我啊啊啊啊！</p>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="img/testicon.jpg" style="width: 50px;height: 50px" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">会飞的猪</h4>
									<p class="text-info">高数要挂科了，救救我啊啊啊啊！</p>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="img/testicon.jpg" style="width: 50px;height: 50px" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">会飞的猪</h4>
									<p class="text-info">高数要挂科了，救救我啊啊啊啊！</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!--招聘信息-->
				<div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
							<div class="thumbnail">
								<img src="img/testicon.jpg" alt="...">
								<div class="caption">
									<h3>家教老师</h3>
									<p>...</p>
									<p class="row" style="padding: 10px;">										
										<a href="#" class="btn btn-primary col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">应聘</a>
										<a href="#" class="btn btn-default col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">咨询</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
							<div class="thumbnail">
								<img src="img/testicon.jpg" alt="...">
								<div class="caption">
									<h3>家教老师</h3>
									<p>...</p>
									<p class="row" style="padding: 10px;">
										<a href="#" class="btn btn-primary col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">应聘</a>
										<a href="#" class="btn btn-default col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">咨询</a>
									</p>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
							<div class="thumbnail">
								<img src="img/testicon.jpg" alt="...">
								<div class="caption">
									<h3>家教老师</h3>
									<p>...</p>
									<p class="row" style="padding: 10px;">
										<a href="#" class="btn btn-primary col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">应聘</a>
										<a href="#" class="btn btn-default col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">咨询</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
							<div class="thumbnail">
								<img src="img/testicon.jpg" alt="...">
								<div class="caption">
									<h3>家教老师</h3>
									<p>...</p>
									<p class="row" style="padding: 10px;">
										<a href="#" class="btn btn-primary col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">应聘</a>
										<a href="#" class="btn btn-default col-sm-12 col-xs-12 col-md-12 col-lg-6" role="button">咨询</a>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<!-- 登录弹出窗口 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                	</button>
						<h4 class="modal-title" id="myModalLabel">登录</h4>
					</div>
					<div class="modal-body">
						<div class="input-group" style="width: 100%">
							<div class="input-group-addon">邮箱：</div>
							<input id="email" type="email" class="form-control" placeholder="">
						</div>
						<br />
						<div class="input-group" style="width: 100%">
							<div class="input-group-addon">密码：</div>
							<input id="password" type="password" class="form-control" placeholder="">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button id="btn_login" type="button" class="btn btn-primary">登录</button>
					</div>
				</div>
			</div>
		</div>
		<!--发布帮助-->
		<div class="modal fade" id="helpContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                	</button>
						<h4 class="modal-title" id="myModalLabel">发布帮助</h4>
					</div>
					<div class="modal-body">
						<div class="input-group item">
							<span class="input-group-addon" id="sizing-addon2">标题</span>
							<input id="title" type="text" class="form-control" placeholder="请输入标题" aria-describedby="sizing-addon2">
						</div>
						<div class="input-group item">
							<span class="input-group-addon" id="sizing-addon2">内容</span>
							<input id="content" type="text" class="form-control" placeholder="请输入内容" aria-describedby="sizing-addon2">
						</div>
						<div class="input-group item">
							<span class="input-group-addon" id="sizing-addon2">类型</span>
							<select id="wxyj" class="form-control">
								<option>有</option>
								<option>无</option>
							</select>
						</div>
						<div class="input-group item">
							<span class="input-group-addon" id="sizing-addon2">金币</span>
						<input type="number" class="form-control" placeholder="帮助你可获得的金币数量" aria-describedby="sizing-addon2">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary">发布</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/axios.min.js" ></script>
		<script type="text/javascript" src="js/API.js"></script>
		<script type="text/javascript" src="js/md5.js"></script>
		<script>
			window.onload = function(){
				axios.get(API_GETINDEXJOB).then(function(res){
					console.log(res)
				})
			}
			
			
			//登录监听
			$('#btn_login').click(function() {
				var email = $('#email').val()
				var password = $('#password').val()

				if(email == "" || password == "") {
					alert("请正确填写信息")
				} else {
					console.table([email, password])
					$.ajax({
						type: "post",
						url: API_LOGIN,
						async: true,
						data: {
							Email: email,
							Password: password
						},
						success: function(result) {
							var data = JSON.parse(result)
							if(data.status==1){
							var juser = JSON.parse(result).data
							window.location.reload()
							Cookies.set("userinfo",juser) 
							}else{
								alert("登录失败:"+data.msg)
							}
						}
					});
				}

			})
		</script>
	</body>

</html>