<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="js/jquery.min3.3.1.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>

	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
					<a class="navbar-brand" href="index.html">大学帮</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">已经有了账号？立即登录</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div style="width: 60%;margin: 0 auto;">
			<form class="form-horizontal">
				<div class="input-group" style="width: 100%">
					<div class="input-group-addon">邮箱：</div>
					<input id="email" type="email" class="form-control" placeholder="">
					<div id="btn_yzemail" class="input-group-addon">验证</div>
				</div>
				<hr />
                <div class="input-group" style="width: 100%">
					<div class="input-group-addon">验证码：</div>
					<input id="code" type="text" class="form-control" placeholder="">
				</div>
				<hr />
                <div class="input-group" style="width: 100%">
					<div class="input-group-addon">密码：</div>
					<input id="psd1" type="password" class="form-control" placeholder="">
				</div>
				<hr />
                <div class="input-group" style="width: 100%">
					<div class="input-group-addon">确认密码：</div>
					<input id="psd2" type="password" class="form-control" placeholder="">
				</div>
				<hr />

				<button id="btn_register" type="button" class="btn btn-default btn-block">注册</button>
			</form>
		</div>
		<script type="text/javascript" src="js/API.js"></script>
		<script>
			$('#btn_yzemail').click(function() {
			    var email = $('#email').val()
                if (isEmail(email))
                {
                    $.ajax({
                        type: "post",
                        url: API_SENDCODE,
                        async: true,
                        data: {
                            Email: $('#email').val()
                        },
                        success: function(result) {
                            alert(result)
                        },
                        error: function(error) {

                        }
                    });

                }else {
			      alert("邮箱有误")
			      
                }
				})
			$('#btn_register').click(function() {
				$.ajax({
					type: "post",
					url: API_REGISTER,
					async: true,
					data: {
						Email: $('#email').val(),
						Password: $('#psd1').val(),
						VerifyCode: $('#code').val()
					},
					success: function(result) {
						alert(result)
					},
					error: function(error) {
						alert(error)
					}
				});
			})

            function isEmail(email){
                var re=/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                if (re.test(email) != true) {
                    return false;
                }else{
                    return true;
                }
            }
		</script>
	</body>

</html>